[Unit]
Description=VNC Server for X11
Requires=display-manager.service
After=display-manager.service

[Service]
Type=forking
ExecStart=/usr/bin/x11vnc -rfbauth /home/eric/.vnc/passwd -forever -shared -bg -display :0 -ncache 10
Restart=on-failure
RestartSec=10
User=%I

[Install]
WantedBy=multi-user.target

